
* {
  box-sizing: border-box;
}
body{
  margin: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans serif;


}
header{
  margin: 0;
}

nav {
    background-color: #7B241C;
    padding: 10px;
    margin-bottom: 0px;
    height: 100px;
}
img{
  float: left;
}

a {
    font-weight: 200;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Helvetica, sans serif;
    color: #fff;

}

ul {
    text-align: center;
    padding: 0px;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    padding-top: 20px;
}
@media all and (max-width: 600px) {
    li {
      max-width: 300px;
        display: block;
        margin: 5px 0px;
        max-height: 300px;
    }
    nav{
      min-height: 200px;
    }
    img{
      max-height: 50px;
      max-width: 100px;
    }

    section, h2{
      display: block;
      max-width: 200px;
      padding: 8px;

    }

}
@media screen and (max-width: 420px) {
 .text, input[type=text] {
    
      }
}
@media only screen and (orientation: portrait) {
  body {
    background-color: lightblue;
  }
}
h2{
  text-align: center;
}
section{
  min-height: 477px;
  background-color: #fff;
  margin: auto;
  width: 700px;
  border: 3px solid #7B241C;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  border-top-color: #16DB93;
  border-bottom-color: #A4036F;
  border-left-color: #EFEA5A;
  border-right-color: #FE5E41;
  border-width: 10px;
  box-sizing: border-box;
  
}
input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-left: 150px;
  border: 5px solid #7B241C;
  font-size: 17px;
  width: 200px;
}
.btn {
  padding: 6px;
  margin-top: 8px;
  width: auto;
  height: auto;
  font-size: 20px;
  background-color: #7B241C;
  color: #fff;
  cursor: pointer;
}


footer{
  height: 40px;
  background-color: #7B241C;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}